.pill {
    background-color: #fff;
    border: $primary solid 2px;
    color: $primary;
    padding: 5px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 32px;

    &:hover {
        background-color: $primary;
        color: #fff;
    }
}
